@import "tailwindcss";

@theme {
  --color-background: #FAFAFA;
  --color-foreground: #1E293B;

  --color-primary: #0F766E;
  --color-primary-foreground: #FAFAFA;

  --color-secondary: #F1F5F9;
  --color-secondary-foreground: #0F172A;

  --color-accent: #C53030;
  --color-accent-foreground: #FAFAFA;

  --color-muted: #F8FAFC;
  --color-muted-foreground: #64748B;

  --color-border: #E2E8F0;

  --font-sans: var(--font-inter);
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
